<% provide(:title, "Home") %>
<h1>Raiku</h1>
<p>Raiku is a new app for people who love haikus and social media.</p>

<p>Raiku aims to be an innovative social media platform where users communicate entirely through haikus.</p>
	